.jquery{
    padding: 50px 0;
    text-align: center;
    background-color: floralwhite;
}
.ques{
    padding: 10px 20px;
    cursor: pointer;
    color: azure;
}
.answ{
    padding: 20px 20px;
    display: none;
}
.rose{
    padding: 10px 20px;
}
.r_info{
    padding: 20px 20px;
    color:azure;    
}
.book{
    padding: 10px 20px;
    color: black;
    background-color: #81d4fa;   
}
.b_info{
    padding: 20px 20px;
    color: #010101;
    background-color: #ffcc80;   
}
.nature{
    padding: 10px 20px;
    background-color: #81c784;    
}
.n_info{
    padding: 20px 20px;
    background-color: #fff176;   
}
#panel, #start {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #555;
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
}  
#panel {
    padding: 40px;
    display: none;
}
#i_prepend{
    list-style: none;
}
#i_append{
    list-style: none;
}
.div_empty{
    height:100px;
    width:300px;
    border:1px solid bisque;
    color: white;
    background-color:rgb(12, 117, 120);
    text-align: center;
    margin: auto;
}
.ani{
    position: relative;
}
#strt_ani{
    font-size: 20px;
    background: #ce93d8;
    height:100px;
    width:200px;
    position:absolute;
    left: 42%;
    margin-bottom: 70px
}
.margin{
    margin-top: 70px;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.one{
    width: 100px;
    height: 100px;
    background-color: #009688;
    margin-right: 20px;
}
.two{
    width: 100px;
    height: 100px;
    background-color: #00bcd4;
}
#fade_toggle{
    width:80px;
    height:80px;
    background-color: #78909c;
    margin: auto;
}
.important {
    font-weight: bold;
    font-size: xx-large;
}
  
.blue {
    color: blue;
}
input{
    width: 43%;   
    padding: 10px;   
    border-radius: 10px;
    margin: auto;
}
.free{
    font-size: 24px;
    font-weight: 500;
    color: #651fff;    
}
.rebal{
    color: #b71c1c;
    font-size: 27px;
    font-weight: 500;
}
.return{
    height: 100px;
    width: 300px;
    padding: 10px;
    border: 2px solid blue;
    background-color: lightblue;
    margin: auto;
}
#set{
    height: 30px;
    width: 100px;
    padding: 10px;
    border: 2px solid #ffa726;
    background-color: #eeff41;
    margin: auto;
}